In [91]:
import pandas as pd

In [92]:
df = pd.read_csv('datasets/game_data_public.LTR.TradSealed.csv')
df.head()

,expansion,event_type,draft_id,draft_time,game_time,build_index,match_number,game_number,rank,...,"deck_Éowyn, Fearless Knight","sideboard_Éowyn, Fearless Knight","opening_hand_Éowyn, Lady of Rohan","drawn_Éowyn, Lady of Rohan","tutored_Éowyn, Lady of Rohan","deck_Éowyn, Lady of Rohan","sideboard_Éowyn, Lady of Rohan",user_n_games_bucket,user_game_win_rate_bucket
0,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 17:33:38,0,1,1,NaN,...,0,0,0,0,0,0,0,10,0.72
1,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 17:43:56,1,1,2,NaN,...,0,0,0,0,0,0,0,10,0.72
2,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 19:54:18,0,2,1,NaN,...,0,0,0,0,0,0,0,10,0.72
3,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 20:05:30,2,2,2,NaN,...,0,0,0,0,0,0,0,10,0.72
4,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 20:13:57,0,3,1,NaN,...,0,0,0,0,0,0,0,10,0.72

In [93]:
pd.set_option('display.max_columns', 18)
df.iloc[:, : 18]

,expansion,event_type,draft_id,draft_time,game_time,build_index,match_number,game_number,rank,opp_rank,main_colors,splash_colors,on_play,num_mulligans,opp_num_mulligans,opp_colors,num_turns,won
0,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 17:33:38,0,1,1,NaN,NaN,BG,W,True,0,0,WUR,9,True
1,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 17:43:56,1,1,2,NaN,NaN,BG,W,False,0,0,WU,9,True
2,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 19:54:18,0,2,1,NaN,NaN,BG,W,True,0,0,BG,9,False
3,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 20:05:30,2,2,2,NaN,NaN,BG,W,True,1,0,BG,10,False
4,LTR,TradSealed,79c8902f711d478880dedb943c785a3a,2023-06-20 16:55:55,2023-06-20 20:13:57,0,3,1,NaN,NaN,BG,W,False,0,0,UG,7,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,LTR,TradSealed,c1cd3356e17f4210af2419d4552d45d3,2023-07-17 00:43:14,2023-07-17 00:55:57,0,2,1,NaN,NaN,WB,G,False,0,0,WUBG,8,True
4798,LTR,TradSealed,c1cd3356e17f4210af2419d4552d45d3,2023-07-17 00:43:14,2023-07-17 01:01:37,0,2,2,NaN,NaN,WB,G,False,0,1,WUBG,7,True
4799,LTR,TradSealed,c56a5b41f67b4fe68e3f57c30da49df2,2023-07-17 11:54:59,2023-07-17 12:11:10,0,2,1,NaN,NaN,BR,NaN,True,0,0,WBR,12,True
4800,LTR,TradSealed,c56a5b41f67b4fe68e3f57c30da49df2,2023-07-17 11:54:59,2023-07-17 12:16:51,0,2,2,NaN,NaN,BR,NaN,False,0,1,WBR,10,False
4801,LTR,TradSealed,c56a5b41f67b4fe68e3f57c30da49df2,2023-07-17 11:54:59,2023-07-17 12:19:07,0,2,3,NaN,NaN,BR,NaN,True,0,1,WBR,6,False

In [94]:
    # cty_df = census_df[census_df['SUMLEV']==50]
    # largest_counties = cty_df.groupby('STNAME')['CENSUS2010POP'].nlargest(3)
    # sum_of_largest_counties = largest_counties.groupby('STNAME').sum()
sample_size = len(df) / 200
print(sample_size, 'sample size')
main_colors = df.groupby('main_colors')['main_colors'].count().loc[lambda x : x >= sample_size]
main_colors

24.01 sample size

main_colors
BG      283
BR     1301
BRG      57
RG       64
UB      364
UBG      90
UBR     186
UG      144
UR      191
URG      36
WB      718
WBG     121
WBR     196
WG      273
WR      348
WRG      90
WU       84
WUB     106
WUG      52
WUR      40
Name: main_colors, dtype: int64

In [95]:
wins_per_color_pair = df.groupby('main_colors')['won'].sum()
wins_per_color_pair

main_colors
B         9
BG      182
BR      817
BRG      34
RG       36
UB      212
UBG      44
UBR      99
UBRG      6
UG       82
UR      107
URG      18
WB      437
WBG      69
WBR     111
WBRG      0
WG      151
WR      192
WRG      46
WU       41
WUB      61
WUBG      1
WUG      27
WUR      26
WURG     14
Name: won, dtype: int64

In [96]:
winrate_per_color = (wins_per_color_pair / main_colors).dropna().map("{:.2%}".format)
# winrate_per_color.sort_values(ascending=False)

color_wins = pd.concat([main_colors, winrate_per_color], axis=1)
color_wins.columns = ['games_played', 'win_rate']
color_wins.sort_values(by='win_rate', ascending=False)

             games_played win_rate
main_colors
WUR                    40   65.00%
BG                    283   64.31%
BR                   1301   62.80%
WB                    718   60.86%
BRG                    57   59.65%
UB                    364   58.24%
WUB                   106   57.55%
WBG                   121   57.02%
UG                    144   56.94%
WBR                   196   56.63%
RG                     64   56.25%
UR                    191   56.02%
WG                    273   55.31%
WR                    348   55.17%
UBR                   186   53.23%
WUG                    52   51.92%
WRG                    90   51.11%
URG                    36   50.00%
UBG                    90   48.89%
WU                     84   48.81%